@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro|Rubik+Mono+One|Rajdhani");

body {
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
}

* {
	box-sizing: border-box;
}
